
<div class="container">

  <div class="panel panel-info">
    <div class="panel-heading">CREATE A NEW TODO LIST</div>
    <div class="panel-body">
      <%= form_for @todolist, url: {action: "create"} do |form| %>
      <%= render partial: '/todo_lists/form', object: form %>
      <% end %>
    </div>
   </div>
</div>
